.importSection {
    display: flex;
    flex-wrap: wrap;
}

.customTextarea {
    width: 100%;
    min-width: 100%;
    padding: 10px;
    min-height: 50px;
    max-height: 150px;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow-y: auto;
}