.tabs-container {

    width: 100%;

    .tabs-header {
        display: flex;
        // border-bottom: 1px solid #ddd;
    }

    .tab-button {
        padding: 10px 20px;
        border: none;
        background-color: transparent;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        transition: color 0.3s;
    }

    .tab-button.active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        background-color: #007bff;
    }

    .tab-button:hover {
        color: #333;
    }

    .tabs-content {
        padding: 5px 0;
    }

}

// modal
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s forwards;

    .modal {
        background: var(--modal-bg-color);
        border-radius: 8px;
        width: 500px;
        max-height: 500px;
        max-width: 90%;
        padding: 20px;
        box-shadow: 0 2px 10px var(--modal-shadow-color);
        transform: translateY(-50px);
        animation: slideIn 0.3s forwards;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--modal-border-color);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .modal-header h2 {
        margin: 0;
    }

    .close-button {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    #adaptor {
        cursor: pointer;
    }

    #adaptor option {
        cursor: pointer;
    }

    .modal-body .form-group {
        margin-bottom: 15px;
        max-height: 200px;
    }

    .modal-body .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-textarea {
        max-height: 150px;
    }

    .modal-body .form-group input,
    .modal-body .form-group textarea,
    .modal-body .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid var(--default);
        border-radius: 3px;
        box-sizing: border-box;
    }

    .modal-body .form-group textarea {
        resize: vertical;
    }

    .modal-body .form-group .radio-group {
        display: flex;
        align-items: center;
    }

    .modal-body .form-group .radio-group label {
        margin-right: 10px;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid var(--modal-border-color);
        padding-top: 10px;
        margin-top: 20px;
    }

    .cancel-button,
    .create-button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .cancel-button {
        background: var(--popconfirm-border-color);
        margin-right: 10px;
    }

    .create-button {
        background: var(--popconfirm-button-bg-color);
        color: white;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(-50px);
        }

        to {
            transform: translateY(0);
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes slideOut {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-50px);
        }
    }

    .modal-overlay.fade-out {
        animation: fadeOut 0.3s forwards;
    }

    .modal.fade-out {
        animation: slideOut 0.3s forwards;
    }
}

.form-group {
    width: 100%;

    .custom-select {
        position: relative;
        border: 1px solid #ccc;
        padding: 8px 12px;
        cursor: pointer;
        width: 100%;
        border-radius: 4px;
        background-color: #fff;
        color: #333;
        font-size: 14px;
        line-height: 20px;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: #e6e6e6;
        }

        .selected-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;

            img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }

        .selected-text span {
            display: inline-flex;
            align-items: center;
        }

        .dropdown-icon {
            font-size: 12px;
            color: #666;
        }

        .options {
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            border: 1px solid #ccc;
            width: calc(100% - 2px);
            margin-top: 2px;
            padding: 0;
            list-style: none;
            max-height: 200px;
            overflow-y: auto;
            box-sizing: border-box;
            border-radius: 4px;
            z-index: 10;
        }

        .option-item {
            padding: 8px 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #333;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: #f0f0f0;
            }

            img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }
}