/* CreateBotlet */
.form{
    display: flex;
    flex-wrap: wrap;
}
@keyframes fadeInBackground {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    /* 添加动画 */
    animation: fadeInBackground 0.2s forwards;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}
.please{
    color: red;
    line-height: 50px;
    margin-left: 20px;
    animation: shake 0.3s ease-in-out 2;
}
.modalContent {
    width: 270px;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    background-color: #fefefe;
    color: black;
    margin: 200px auto; /* 位于页面中心 */
    border: 1px solid #888;
    text-align: center;
    user-select: none;
    /* 添加动画 */
    animation: fadeIn 0.2s forwards;
}
/* RestApi */
.copy{
    color: green;
}
.pre{
    position: relative;
}
.copyButton{
    position: absolute;
    right: 15px;
    cursor: pointer;
}
/* email */
.emailSvg{
    margin-bottom: -5px;
}
.emailPush {
    color: #428555;
    cursor: pointer;
    text-decoration: none;
}

.emailPush:hover {
    text-decoration: underline;
}