// CascadingMenu
.CascadingMenu {
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: var(--cascadingmenu-bg-color);
}

.popconfirm-container {
    position: relative;
    right: -5px;

    .popconfirm {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: var(--popconfirm-bg-color);
        border: 1px solid var(--popconfirm-border-color);
        border-radius: 4px;
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        white-space: nowrap;
        animation: fadeIn 0.3s forwards;
    }

    @media (max-width: 1000px) {
        .popconfirm {
            left: 100%;
            transform: translateX(-100%);
        }
    }

    .popconfirm-title {
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
    }

    .popconfirm-description {
        margin-bottom: 10px;
    }

    .popconfirm-buttons {
        display: flex;
        justify-content: center;
    }

    .popconfirm-buttons button {
        margin-left: 5px;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .popconfirm-buttons button:first-of-type {
        background: var(--popconfirm-cancel-button-bg-color);
    }

    .popconfirm-buttons button:last-of-type {
        background: var(--popconfirm-button-bg-color);
        color: var(--popconfirm-button-text-color);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px) translateX(-50%);
        }

        to {
            opacity: 1;
            transform: translateY(0) translateX(-50%);
        }
    }

    .popconfirm.fade-out {
        animation: fadeOut 0.3s forwards;
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            transform: translateY(0) translateX(-50%);
        }

        to {
            opacity: 0;
            transform: translateY(-10px) translateX(-50%);
        }
    }
}

/* Tree */
.tree-node {
    width: 100%;

    .children {
        margin-left: 20px;
    }

    .node-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 5px;

        &:hover {
            background-color: var(--popconfirm-border-color);

            .toggle {
                color: var(--ifm-color-primary-lightest);
            }
        }
    }

    .toggle {
        width: 95%;
        text-align: left;
        background-color: transparent;
        cursor: pointer;
        border: none;
        font-size: 16px;
    }

    .node-left {
        display: flex;
        align-items: center;
        flex: 1;
        overflow: hidden;
    }

    .icon-text {
        display: flex;
        align-items: center;
        overflow: hidden;
        flex: 1;
    }

    .icon-text img {
        margin-right: 8px;
    }

    .left-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        flex: 1;
    }

    .node-right {
        display: flex;
        align-items: center;

        div {
            cursor: pointer;
            margin: 0 3px;
        }
    }

    button {
        border: none;
        background: none;
        cursor: pointer;
    }

    .toggle_button {
        display: inline-block;
        width: 16px;
    }

    .icon-text {
        display: flex;
        align-items: center;
    }

    .icon-text img {
        margin-right: 8px;
        filter: var(--icon-invert);
    }
}